/* Slideshow */

.slideshow {
    overflow: hidden;
    max-width: 400px;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slide {
    display: inline-block;
    height: 300px;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Buttons */
.slideshowDots {
    text-align: center;
}
.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px 7px 0px;
    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #ffff76;
}